DATA_ACCOUNT_PATH=../data/account.json
PORT=3001
JWT_SECRET=if-you-shit-out-of-your-mouth-isnt-that-just-vomiting-questionmark
JWT_EXPIRES_IN=15m
REFRESH_EXPIRES_IN=7d
NODE_ENV=development        # set to "production" in prod